{{define "title"}}Twitter Clone{{end}}

{{define "content"}}
<div class="h-screen flex flex-row">
    <!-- <p class="text-white">Testing</p> -->

    <div>
        <div class="p-4 min-w-80">
            {{if .LoggedIn}}
                    <div>
                        {{$userPhoto := "/static/profile.png"}}
                        {{if .User.Photo}}
                        {{$userPhoto = .User.Photo}}
                        {{end}}
                        <img src="{{ $userPhoto }}" alt="profile-image" class="w-32 h-32 rounded-full border-4 border-zinc-600" />
                    </div>
                    <div class="flex flex-col">
                        <h2 class="text-white font-bold text-lg">{{ .User.DisplayName }}</h2>
                        <span class="text-slate-400 font-light text-sm">{{ .User.Username }}</span>
                    </div>

                    <button hx-get="/logout" class="btn btn-blue">Logout</button>
            {{else}}
                    <a href="/login">
                        <button class="btn btn-blue">Log In</button>
                    </a>
                    <a href="/register">
                        <button class="btn btn-blue">Register</button>
                    </a>
            {{end}}
        </div>
    </div>

    <div class="flex flex-1 flex-col">
        <div class="flex flex-row">
            <h2 class="text-white text-xl font-header py-5 pl-4">Messages</h2>
            <img id="message-loading" class="htmx-indicator" src="/static/three-dots.svg" alt="loading-indicator" />
        </div>

        <div class="px-4 flex-1 flex">
            <div class="grid grid-cols-2 gap-x-4 flex-1">
                <div id="messageList">
                    {{template "messageList.html" .Messages}}
                </div>
                <div id="replyList" class=""></div>
            </div>
        </div>


        {{if .LoggedIn}}
        <div class="mt-auto mx-5 mb-5">
            {{template "messageForm.html"}}
        </div>
        {{end}}
    </div>
</div>
{{end}}
