{{define "title"}}Twitter Clone{{end}}

{{define "content"}}
<div class="h-screen flex flex-row">
    <!-- <p class="text-white">Testing</p> -->

    <div>
        <div class="p-4">
            {{if .LoggedIn}}
                    <div>
                        {{$userPhoto := "/static/profile.png"}}
                        {{if .User.Photo}}
                        {{$userPhoto = .User.Photo}}
                        {{end}}
                        <img src="{{ $userPhoto }}" alt="profile-image" class="w-32 h-32 rounded-full border-4 border-zinc-600" />
                    </div>
                    <div class="flex flex-col">
                        <h2 class="text-white font-bold text-lg">{{ .User.DisplayName }}</h2>
                        <span class="text-slate-400 font-light text-sm">{{ .User.Username }}</span>
                    </div>

                    <button hx-get="/logout" class="btn btn-blue">Logout</button>
            {{else}}
                    <a href="/login">
                        <button class="btn btn-blue">Log In</button>
                    </a>
                    <a href="/register">
                        <button class="btn btn-blue">Register</button>
                    </a>
            {{end}}
        </div>
    </div>

    <div class="flex flex-1 flex-col">
        <h2 class="text-white text-xl font-header py-5 pl-4">Messages</h2>

        {{template "messageList.html" .Messages}}

        {{if .LoggedIn}}
        <div class="relative bottom-5 z-10 mt-auto pr-5 flex">
            <textarea class="resize-none p-2 flex-1"></textarea>
        </div>
        {{end}}
    </div>
</div>
{{end}}
